@import "reset";

.j-spacer {
  display: flex;
  flex-grow: 1;
}
.common-content {
  /deep/ {

    .mint-cell {
      min-height: 9vw;
    }
    .mint-button {
      height: 9vw;
    }
  }
}
.scroll-content {
  display: flex;
  flex-direction: column;
  background-color: #ececec;

  .scroll-tag {
    margin-top: 5vw;
    border-radius: 20px;
    overflow: hidden;

    /deep/ {

      .mint-cell {
        min-height: 10vw;

        .mint-cell-wrapper {
          font-size: 4.5vw;
        }
      }
    }
  }
}
